body {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Verdana, Geneva, Tahoma, sans-serif;
background-color: rgb(135, 212, 231);
}
 .imagenes-container{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 }
 .imagenes-container .imagen{
    position: relative;
    margin-right: 4px;
    display: inline-flex;
    flex-direction: column;
 }

 .imagenes-container .imagen img{
    width: 250px;
    height: 150px;
    transition: transform 0.3s is ease-in-out ;

 }
 .imagenes-container .imagen .nombre{
   position: absolute;
   background-color: rgb(0, 0, 0);
   color: rgb(255, 235, 235);
   border-radius: 5px;
   display: none;
   min-width: 90px;
   width: 150px;
   top: -40px;
   
 }

 .imagenes-container .imagen .nombre .texto{

   display: inline-block;
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
   margin: 0 auto;
   width: 150px;
   text-align: center;
   box-sizing: border-box;
 }

 
 .imagenes-container .imagen:hover .nombre{
   display: inline-block;

 }
 
 .imagenes-container .imagen .nombre::before{
  content: "";
  position: absolute;
  width: 1px;
  height: 1px;
  left: 40%;
  bottom: -23px;
  border-top:  15px solid rgb(5, 3, 3);
  border-left:  10px solid transparent;
  border-right:  10px solid transparent;
  border-bottom:  10px solid transparent;
}

.imagenes-container .imagen:hover img{

  transform: translateY(-5PX);
  transition: 1s;
  
}
 